    /*Navbar main wrap */
    
    .main_wrap {
        display: flex;
        flex-direction: row;
    }
    
    .navbar_wrap {
        flex: 25%;
    }
    
    .body_wrap {
        flex: 75%;
    }
    
    .vertical_line {
        border-left: 2px solid #BAE0FC;
        height: 100vh;
        position: fixed;
        left: 5%;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    /* Home CSS begain */
    
    .line1 {
        top: 5%;
        border-top: 3px solid #BAE0FC;
        width: 150px;
        position: absolute;
        z-index: 1;
        left: -100px;
    }
    
    home {
        width: 150px;
        border: 1px solid #BAE0FC;
        background-color: #BAE0FC;
        padding: 20px;
        display: block;
        text-align: center;
        top: 2%;
        position: absolute;
        left: 20px;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       Home CSS end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    
    .line2_about {
        top: 30%;
        border-top: 3px solid #BAE0FC;
        width: 150px;
        position: absolute;
        z-index: 1;
        left: -100px;
    }
    
    about {
        width: 150px;
        border: 1px solid #BAE0FC;
        background-color: #BAE0FC;
        padding: 20px;
        display: block;
        text-align: center;
        top: 27%;
        position: absolute;
        left: 20px;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       about CSS end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    
    .line3_contact {
        top: 55%;
        border-top: 3px solid #BAE0FC;
        width: 150px;
        position: absolute;
        z-index: 1;
        left: -100px;
    }
    
    contact {
        width: 150px;
        border: 1px solid #BAE0FC;
        background-color: #BAE0FC;
        padding: 20px;
        display: block;
        text-align: center;
        top: 52%;
        position: absolute;
        left: 20px;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       contact CSS end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    
    .line4_project {
        top: 80%;
        border-top: 3px solid #BAE0FC;
        width: 150px;
        position: absolute;
        z-index: 1;
        left: -100px;
    }
    
    project {
        width: 150px;
        border: 1px solid #BAE0FC;
        background-color: #BAE0FC;
        padding: 20px;
        display: block;
        text-align: center;
        top: 77%;
        position: absolute;
        left: 20px;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       project CSS end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    /* Portfolio start */
    
    #portfolio {
        font-size: 54px;
    }
    /* Portfolio end */
    /* About text */
    
    #about_text span {
        font-size: 35px;
    }
    /* about text end */
    
    .about_wrap {
        /* margin-top: 4%; */
        display: flex;
        flex-direction: row;
    }
    
    .about_left {
        margin-top: 3%;
        flex: 40%;
    }
    
    .about_right {
        flex: 80%;
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       about CSS end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    
    #myresume {
        width: 180px;
        padding: 15px;
        border-radius: 8px;
        /* background-image: linear-gradient(to right, white, rgb(182, 219, 236), rgb(168, 168, 235)); */
        background-color: #bae0fc;
        font-weight: bold;
        font-size: 16px;
        border: 2px solid #c8dff0;
        box-shadow: 4px 4px 4px rgb(185, 185, 185);
    }
    
    #myresume:hover {
        background-image: linear-gradient(to right, white, rgb(182, 219, 236), rgb(168, 168, 235));
        /* background-color: #ffffff; */
        transition: .8s;
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       Button end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    /* lines flex */
    
    .line_flex_main {
        /* flex-wrap: wrap; */
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        border-top: 3px solid #b0d4f0;
        width: 100%;
    }
    
    .skill1 {
        flex: 20%;
        border-left: 2px solid #ffffff;
        /* position: absolute; */
        height: 100px;
    }
    
    .skill2 {
        flex: 20%;
        border-left: 2px solid #b0d4f0;
        /* position: absolute; */
        height: 100px;
    }
    
    .skill3 {
        flex: 20%;
        border-left: 2px solid #b0d4f0;
        /* position: absolute; */
        height: 100px;
    }
    
    .skill4 {
        flex: 20%;
        border-left: 2px solid #b0d4f0;
        /* position: absolute; */
        height: 100px;
    }
    
    .skill5 {
        flex: 20%;
        border-left: 2px solid #b0d4f0;
        /* position: absolute; */
        height: 100px;
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       skills end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */
    
    .contact_main_wrap {
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    
    .contact_left {
        flex: 40%;
    }
    
    .contact_right {
        flex: 60%;
    }
    
    input {
        width: 80%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #b0d4f0;
    }
    
    input:focus {
        outline: none;
    }
    
    .contact_right form {
        box-shadow: 6px 5px 8px rgb(223, 223, 223);
    }
    
    form {
        padding: 50px;
        border-radius: 10px;
    }
    
    .cbutton {
        margin-top: 7%;
        margin-left: 70%;
        padding: 16px;
        width: 150px;
        border-radius: 5px;
        background-color: #b0d4f0;
        border: none;
    }
    /*<!--|--------------------------------------------------------------------------------|-->
    <!-- |          ---       contact end ---                                            |-->
    <!-- |--------------------------------------------------------------------------------|--> */